app
    span(class='{ css.title }')
        | Visit
    card-list(cards='{ cards }')
    div(class='{ css.tick }')
        | a-ab { cnt }
        span(class='{ css.boom }')
            | boom
    script.
        import './card'
        import { App } from './app'
        new App(this)
