card-list
    p(class='{ css.title }')
        | a
    div(class='{ css.text }' each='{ cards }')
        | { name }
    script.
        import { CardList } from './list'
        new CardList(this, opts)
